@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import './_variables.css';
@import './_reset.css';
@import './_header.css';
@import './_footer.css';
@import './_accordion.css';


body{
    font-family: 'Montserrat', sans-serif;
}

.banner img{
    width: 100%;
}

.frame5 .accordion h4{
    font-weight: 600;
    border-bottom: 0;
}